[submodule "deps/catch2"]
	path = deps/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "deps/ezbuild"]
	path = deps/ezbuild
	url = https://github.com/MarcFaussurier/ezbuild.git
[submodule "misc/deps/ezbuild"]
	path = misc/deps/ezbuild
	url = https://github.com/MarcFaussurier/ezbuild
